// 时间线样式
.timeline-wrapper .year {
  margin: 80px 0px 20px !important;
  font-size: 27px !important;
}
.timeline-wrapper .year-wrapper li {
    padding: 10px 20px 10px !important;
    border-bottom: 2px solid #999da06b !important;
    background: #c1c1e626;
    border-radius: 5rem;
    margin: 5px 0px;
    transition: all .5s;
}
.timeline-wrapper .year-wrapper li:hover {
    transform:  translate(50px,0);
    transition: all .5s;
}
.timeline-wrapper .year-wrapper li .date {
  width: 43px !important;
  font-size: 13px !important;
}
.timeline-wrapper .year-wrapper li .date:before {
    top: 22px !important;
    border: 1px solid !important;
}
.timeline-wrapper:after {
    background: skyblue !important;
}
.timeline-wrapper .desc:before, .timeline-wrapper .year:before {
  background: cadetblue !important;
}



.fullPic .iconfont {
  color: #fff !important;
  font-size: 13px !important;
}
.fullPic .iconfont .leancloud-visitors-count{
  color: #fff !important;
  font-size: 13px !important;
}

/*滚动条的设置*/
::-webkit-scrollbar-thumb:vertical {
	background: repeating-linear-gradient(45deg, #b1e7cf 0px,#b1e7cf 15px, #3eaf7c 15px, #3eaf7c 30px);	
}



@require './markdown-container'